@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap&subset=cyrillic');
/* font-family: 'Source Sans Pro', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900&display=swap&subset=cyrillic');
/* font-family: 'Montserrat', sans-serif; */


a {
    color: #000;
    text-decoration: none;
}

html {
    font-size: 10px;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body {
    overflow-x: hidden;
}



/* .container {
    padding-left: 5rem;
    padding-right: 5rem;
} */

.header__top {
    padding-left: 5rem;
    padding-right: 5rem;
    /* padding-bottom: 1px; */
    background: url('../img/ornament.png') right 10rem/auto no-repeat, url('../img/ornament2.png') left top/auto no-repeat, linear-gradient(45deg, rgba(65, 0, 84, 1) 35%, rgba(108, 22, 73, 1) 100%);
}


.header__contacts {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.header__contacts::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -5rem;
    width: 100vw;
    height: 1px;
    background: linear-gradient(90deg, rgba(244, 206, 148, 0) 0%, rgba(244, 206, 148, 1) 15%, rgba(244, 206, 148, 1) 50%, rgba(244, 206, 148, 1) 85%, rgba(244, 206, 148, 0) 100%);
}


.header__contacts-links {
    display: flex;
    align-items: center;
    height: 6.5rem;
}

.header__phone-and-appointment-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding-left: 8rem;
}

.header__phone::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2.75rem;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    border: 1px solid #f4ce94;
    background: url('../img/incoming-call.png');
    background-position: center;
    background-repeat: no-repeat;
}

.header__location,
.header__phone {
    font-size: 2rem;
    font-weight: 300;
    color: #f4ce94;
    line-height: normal;
}

.header__location {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 8rem;
    margin-right: 10rem;
}

.header__location::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2.75rem;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    border: 1px solid #f4ce94;
    background: url('../img/pin.png');
    background-position: center;
    background-repeat: no-repeat;
}

.header__appointment-btn {
    position: relative;
    font-size: 1.8rem;
    font-weight: 700;
    background: linear-gradient(45deg, rgba(244, 206, 148, 1) 0%, rgba(252, 235, 209, 1) 50%, rgba(244, 206, 148, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f4ce94;
}

.header__appointment-btn::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(45deg, rgba(244, 206, 148, 1) 0%, rgba(252, 235, 209, 1) 50%, rgba(244, 206, 148, 1) 100%);

}


.header__nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 117rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
}

.header__nav-list-item-link {
    position: relative;
    font-size: 1.8rem;
    font-weight: 300;
    color: #fff;
    transition: .3s;
    transition-property: color;
}

.header__nav-list-item-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: -10%;
    width: 120%;
    height: 1px;
    background: linear-gradient(45deg, rgba(244, 206, 148, 1) 0%, rgba(252, 235, 209, 1) 50%, rgba(244, 206, 148, 1) 100%);
    opacity: 0;
    transition: .5s;
    transition-property: opacity;
}

.header__nav-list-item-link:hover:after {
    opacity: 1;
}

.header__nav-list-item-link:hover {
    color: #f4ce94;
}

.header__navigation {
    position: relative;
}

.header__navigation::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -5rem;
    width: 100vw;
    height: 1px;
    background: linear-gradient(90deg, rgba(244, 206, 148, 0) 0%, rgba(244, 206, 148, 1) 15%, rgba(244, 206, 148, 1) 50%, rgba(244, 206, 148, 1) 85%, rgba(244, 206, 148, 0) 100%);
}


.header__content {
    position: relative;
}

.swiper-container {
    width: 100%;
    height: 100vh;
    min-height: 90rem;
}

.slider-img-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 100%;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slider-img-container::before {
    content: '';
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(65, 0, 84, 0.7) 35%, rgba(108, 22, 73, 0.7) 100%);
}

.swiper-pagination-bullet {
    border: 1px solid #fff;
    background: none;
}

.swiper-pagination-bullet-active {
    border: 1px solid #f4ce94;
    background: #f4ce94;
}

.header__content-text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.header__title {
    font-size: 6rem;
    color: #f4ce94;
    font-weight: 700;
    margin-bottom: 3rem;
}

.header__subtitle {
    position: relative;
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
    line-height: normal;
}

.header__subtitle::after {
    content: '';
    position: absolute;
    bottom: -10rem;
    left: 50%;
    margin-left: -10rem;
    width: 20rem;
    height: 5rem;
    background-image: url('../img/text-separator.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.header__second-title {
    margin-top: 15rem;
    font-size: 3rem;
    color: #f4ce94;
    font-weight: 700;
    margin-bottom: 3rem;
}

.header__second-title-discription {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__second-title-discription p {
    position: relative;
    width: max-content;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

.header__second-title-discription p::before,
.header__second-title-discription p::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -0.35rem;
    width: 3rem;
    height: 0.7rem;
    background: url('../img/bullet.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.header__second-title-discription p::after {
    right: -5rem;
}

.header__second-title-discription p::before {
    left: -5rem;
    transform: rotate(180deg);
}



/* ********************CERTIFICATE************************ */

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }

    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }

    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}


.certificate__container {
    position: relative;
    padding-top: 10rem;
    padding-bottom: 15rem;
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: -2px;
    z-index: -2;
    margin: auto;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, rgba(108, 22, 73, 1) 20%, rgba(65, 0, 84, 1) 80%);
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.bgBottom {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}


.certificate__title {
    position: relative;
    font-size: 3.6rem;
    font-weight: 700;
    color: #f4ce94;
    text-align: center;
}

.certificate__title::after {
    content: '';
    position: absolute;
    bottom: -3rem;
    left: 50%;
    margin-left: -10rem;
    width: 20rem;
    height: 1rem;
    background-image: url('../img/title-sep.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.certificate__subtitle {
    margin-top: 5rem;
    font-size: 2.4rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

.certificate__discription {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 650px;
    height: 330px;
    margin: auto;
    margin-top: 10rem;
}

.certificate__discription::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 400px;
    background-image: url('../img/content-border.png');
    background-size: contain;
}

.certificate__discription-par {
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.6rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

.certificate__discription-par:first-child {
    margin-bottom: 2rem;
    font-weight: 700;
}

.certificate__button {
    margin-top: 4rem;
    padding: 1.5rem 3rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 2px 4.7px rgba(0, 0, 0, 0.4);
    background: linear-gradient(90deg, rgb(255, 192, 95) 0%, rgb(244, 206, 148) 50%, rgb(255, 192, 95) 100%);
    cursor: pointer;
    transition: .3s;
    transition-property: transform, box-shadow;
}

.certificate__button:hover {
    transform: scale(1.01);
    box-shadow: 0px 6px 15.04px 0.96px rgba(0, 0, 0, 0.5);
}




/* **************SERVICES*************** */

.services {
    position: relative;
    top: -2px;
    background-color: #fff;
}

.services__container {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.services__content {
    display: flex;
    flex-wrap: wrap;
    width: 1170px;
    margin: auto;
    margin-top: 7rem;
}

.services__item:nth-child(1),
.services__item:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 200px;
    border: 1px solid #b8b8b8;
    box-sizing: border-box;
    transition: 0.3s;
    transition-property: border, color;
}

.services__item:nth-child(2),
.services__item:nth-child(4) {
    position: relative;
    width: 25%;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.services__item:nth-child(2) {
    background-image: url('../img/services11.jpg');
}

.services__item:nth-child(4) {
    background-image: url('../img/services22.jpg');
}

.services__item:nth-child(2)::after,
.services__item:nth-child(4)::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(65, 0, 84, 1) 35%, rgba(108, 22, 73, 1) 100%);
    opacity: 0.3;
}

.services__item-title {
    margin-top: 2rem;
    font-size: 2.6rem;
    color: #250030;
    transition: 0.3s;
    transition-property: color;
}

.services__item:nth-child(1):hover,
.services__item:nth-child(3):hover {
    border: 1px solid #f4ce94;

}

.services__item:nth-child(1):hover .services__item-title,
.services__item:nth-child(3):hover .services__item-title {
    color: #f4ce94;
}

.icon-container {
    width: 8rem;
    height: 8rem;
}

.services__icon {
    width: 8rem;
    height: 8rem;
    transition: 0.3s;
    transition-property: fill;
}

.services__item:nth-child(1):hover .services__icon,
.services__item:nth-child(3):hover .services__icon {
    fill: #f4ce94;
}




/* **************STOCKS**************** */

.stocks {
    background: linear-gradient(45deg, rgba(65, 0, 84, 1) 35%, rgba(108, 22, 73, 1) 100%);
    ;
}

.stocks__container {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.stocks__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 8rem;
}

.stocks__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 500px;
    min-height: 350px;
    padding-top: 3rem;
    padding-left: 2rem;
    box-sizing: border-box;
    margin-bottom: 4rem;
    background-color: #fff;
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.stocks__item-title {
    font-size: 2rem;
}

.stocks__item:nth-child(1) {
    background-image: url('../img/stocks/1.jpg');
}

.stocks__item:nth-child(2) {
    background-image: url('../img/stocks/2.jpg');
}

.stocks__item:nth-child(3) {
    background-image: url('../img/stocks/3.jpg');
}

.stocks__item:nth-child(4) {
    background-image: url('../img/stocks/4.jpg');
}

.stocks__item:nth-child(5) {
    background-image: url('../img/stocks/5.jpg');
}

.stocks__item:nth-child(6) {
    background-image: url('../img/stocks/6.jpg');
}


.stocks__item-discription {
    width: 80%;
    margin-top: 3rem;
}

.stocks__item:nth-child(3) .stocks__item-discription {
    width: 70%;
}

.stocks__item-discription p {
    font-size: 1.4rem;
    line-height: normal;
    margin-bottom: 1rem;
}

.stocks__item-discription p:last-child {
    margin-bottom: 0;
}

.stocks__item-discription ul {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.stocks__item-discription ul li {
    position: relative;
    font-size: 1.4rem;
    line-height: normal;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.stocks__item-discription ul li:last-child {
    margin-bottom: 0;
}

.stocks__item-discription ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.35rem;
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 1rem;
    border-radius: 50%;
    background-color: #f4ce94;
}



/* **************REVIEWS************** */

.reviews__container {
    padding-top: 10rem;
    padding-bottom: 10rem;
}