@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap&subset=cyrillic');
/* font-family: 'Source Sans Pro', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900&display=swap&subset=cyrillic');
/* font-family: 'Montserrat', sans-serif; */


a {
    color: #000;
    text-decoration: none;
}

html {
    font-size: 10px;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body {
    position: relative;
    overflow-x: hidden;
}

@media(max-width: 1280px) {
    html {
        font-size: 9px;
    }
}

@media(max-width: 1023px) {
    html {
        font-size: 8px;
    }
}

@media(max-width: 767px) {
    html {
        font-size: 7px;
    }
}

/* .container {
    padding-left: 5rem;
    padding-right: 5rem;
} */



.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, rgba(65, 0, 84, 1) 35%, rgba(108, 22, 73, 1) 100%);
    transform: translateX(100%);
    transition: transform 0.5s;
}

.mobile-menu_active {
    transform: translateX(0);
}

.mobile-menu__contacts {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 5rem;
}

.mobile-menu__contacts::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(244, 206, 148, 0) 0%, rgba(244, 206, 148, 1) 15%, rgba(244, 206, 148, 1) 50%, rgba(244, 206, 148, 1) 85%, rgba(244, 206, 148, 0) 100%);
}


.mobile-menu__contacts-links {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 3rem;
}

.mobile-menu__phone-and-appointment-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding-left: 4rem;
    margin-top: 2rem;
}

.mobile-menu__phone::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid #f4ce94;
    background: url('../img/incoming-call.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.5rem auto;
}

.mobile-menu__location,
.mobile-menu__phone {
    font-size: 2rem;
    font-weight: 300;
    color: #f4ce94;
    line-height: normal;
}

.mobile-menu__location {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 4rem;
}

.mobile-menu__location::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid #f4ce94;
    background: url('../img/pin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.5rem auto;
}

.mobile-menu__appointment-btn {
    position: relative;
    font-size: 1.8rem;
    font-weight: 700;
    background: linear-gradient(45deg, rgba(244, 206, 148, 1) 0%, rgba(252, 235, 209, 1) 50%, rgba(244, 206, 148, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f4ce94;
}

.mobile-menu__appointment-btn::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(45deg, rgba(244, 206, 148, 1) 0%, rgba(252, 235, 209, 1) 50%, rgba(244, 206, 148, 1) 100%);

}

.mobile-menu__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobile-menu__nav-list-item {
    margin-bottom: 2rem;
}

.mobile-menu__nav-list-item:last-child {
    margin-bottom: 0;
}

.mobile-menu__nav-list-item-link {
    position: relative;
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
}

.mobile-menu__navigation {
    position: relative;
    width: 100%;
}

.mobile-menu__nav-list-item-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: -10%;
    width: 120%;
    height: 1px;
    background: linear-gradient(45deg, rgba(244, 206, 148, 1) 0%, rgba(252, 235, 209, 1) 50%, rgba(244, 206, 148, 1) 100%);
    opacity: 0;
    transition: .5s;
    transition-property: opacity;
}

.mobile-menu__nav-list-item-link:hover:after {
    opacity: 1;
}

.mobile-menu__nav-list-item-link:hover {
    color: #f4ce94;
}

/* .mobile-menu__navigation::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, rgba(244, 206, 148, 0) 0%, rgba(244, 206, 148, 1) 15%, rgba(244, 206, 148, 1) 50%, rgba(244, 206, 148, 1) 85%, rgba(244, 206, 148, 0) 100%);
} */

.mobile-menu__nav-and-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-menu__socials {
    display: flex;
    margin-top: 5rem;
}

.mobile-menu__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    margin-right: 2rem;
    border-radius: 50%;
    border: 1px solid #f4ce94;
}

.mobile-menu__social-item:last-child {
    margin-right: 0;
}

.mobile-menu__social-item img {
    height: 2rem;
}

.mobile-menu__close-btn {
    position: absolute;
    right: 3rem;
    top: 3rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.mobile-menu__close-btn::after,
.mobile-menu__close-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #f4ce94;
}

.mobile-menu__close-btn::after {
    transform: rotate(45deg);
}

.mobile-menu__close-btn::before {
    transform: rotate(-45deg);
}

@media(max-height: 420px) {
    .mobile-menu {
        flex-direction: row;
    }

    .mobile-menu__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
    }

    .mobile-menu__nav-and-socials {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;
    }

    .mobile-menu__contacts::after {
        display: none;
    }
}






.popup-form__container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup__form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    box-sizing: border-box;
    border-radius: 2rem;
    background: linear-gradient(45deg, rgba(65, 0, 84, 1) 35%, rgba(108, 22, 73, 1) 100%);

}

.popup-form__container_active {
    display: flex;
}

.popup__form-container form {
    width: 70%;
}

.popup__form-container form input {
    width: 100%;
}

.popup-form__btn-close {
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.popup-form__btn-close::after,
.popup-form__btn-close::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #f4ce94;
}

.popup-form__btn-close::after {
    transform: rotate(45deg);
}

.popup-form__btn-close::before {
    transform: rotate(-45deg);
}

.popup-form__discription {
    width: 80%;
    margin-top: 2rem;
    font-size: 1.4rem;
    color: #fff;
    font-weight: 300;
}

.popup-form__discription a {
    font-size: 1.4rem;
    color: #fff;
    font-weight: 700;
    text-decoration: underline;
}


/* #appointment-btn {
    position: fixed;
    top: 10rem;
    right: 5rem;
    z-index: 9999;
    padding: 1.5rem 3rem;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 2px 4.7px rgba(0, 0, 0, 0.4);
    background: linear-gradient(90deg, rgb(255, 192, 95) 0%, rgb(244, 206, 148) 50%, rgb(255, 192, 95) 100%);
    cursor: pointer;
    transition: .5s;
    transition-property: transform, box-shadow, opacity, visible;
    opacity: 0;
    visibility: hidden;
}

#appointment-btn.show {
    opacity: 1;
    visibility: visible;
}

.appointment-btn:hover {
    box-shadow: 0px 6px 15.04px 0.96px rgba(0, 0, 0, 0.5);
} */


.header__top {
    padding-left: 5rem;
    padding-right: 5rem;
    /* padding-bottom: 1px; */
    background: url('../img/ornament.png') right 10rem/auto no-repeat, url('../img/ornament2.png') left top/auto no-repeat, linear-gradient(45deg, rgba(65, 0, 84, 1) 35%, rgba(108, 22, 73, 1) 100%);
}


.header__contacts {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}





.header__contacts::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -5rem;
    width: 100vw;
    height: 1px;
    background: linear-gradient(90deg, rgba(244, 206, 148, 0) 0%, rgba(244, 206, 148, 1) 15%, rgba(244, 206, 148, 1) 50%, rgba(244, 206, 148, 1) 85%, rgba(244, 206, 148, 0) 100%);
}


.header__contacts-links {
    display: flex;
    align-items: center;
    height: 6.5rem;
}

.header__phone-and-appointment-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding-left: 8rem;
}

.header__phone::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2.75rem;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    border: 1px solid #f4ce94;
    background: url('../img/incoming-call.png');
    background-position: center;
    background-repeat: no-repeat;
}

.header__location,
.header__phone {
    font-size: 2rem;
    font-weight: 300;
    color: #f4ce94;
    line-height: normal;
}

.header__location {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 8rem;
    margin-right: 10rem;
}

.header__location::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2.75rem;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    border: 1px solid #f4ce94;
    background: url('../img/pin.png');
    background-position: center;
    background-repeat: no-repeat;
}

.header__appointment-btn {
    position: relative;
    font-size: 1.8rem;
    font-weight: 700;
    background: linear-gradient(45deg, rgba(244, 206, 148, 1) 0%, rgba(252, 235, 209, 1) 50%, rgba(244, 206, 148, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f4ce94;
}

.header__appointment-btn::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(45deg, rgba(244, 206, 148, 1) 0%, rgba(252, 235, 209, 1) 50%, rgba(244, 206, 148, 1) 100%);

}


.header__nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 117rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
}

.header__nav-list-item-link {
    position: relative;
    font-size: 1.8rem;
    font-weight: 300;
    color: #fff;
    transition: .3s;
    transition-property: color;
}

.header__nav-list-item-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: -10%;
    width: 120%;
    height: 1px;
    background: linear-gradient(45deg, rgba(244, 206, 148, 1) 0%, rgba(252, 235, 209, 1) 50%, rgba(244, 206, 148, 1) 100%);
    opacity: 0;
    transition: .5s;
    transition-property: opacity;
}

.header__nav-list-item-link:hover:after {
    opacity: 1;
}

.header__nav-list-item-link:hover {
    color: #f4ce94;
}

.header__navigation {
    position: relative;
}

.header__navigation::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -5rem;
    width: 100vw;
    height: 1px;
    background: linear-gradient(90deg, rgba(244, 206, 148, 0) 0%, rgba(244, 206, 148, 1) 15%, rgba(244, 206, 148, 1) 50%, rgba(244, 206, 148, 1) 85%, rgba(244, 206, 148, 0) 100%);
}

.header__mobile-menu-btn {
    display: none;
    width: 4rem;
    height: 4rem;
    background-image: url('../img/open-menu.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}



@media(max-width: 1023px) {
    .header__contacts-links {
        display: none;
    }

    .header__navigation {
        display: none;
    }

    .header__mobile-menu-btn {
        display: block;
    }
}

@media(max-width: 767px) {
    .header__logo img {
        width: 100px;
    }
}


.header__content {
    position: relative;
}

.swiper-container {
    width: 100%;
    height: 100vh;
    min-height: 90rem;
}

.slider-img-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slider-img-container::before {
    content: '';
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(65, 0, 84, 0.7) 35%, rgba(108, 22, 73, 0.7) 100%);
}

.header__swiper-pagination .swiper-pagination-bullet {
    border: 1px solid #fff;
    background: none;
}

.header__swiper-pagination .swiper-pagination-bullet-active {
    border: 1px solid #f4ce94;
    background: #f4ce94;
}

.header__content-text {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9998;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    box-sizing: border-box;
}

.header__title {
    font-size: 6rem;
    color: #f4ce94;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
}

.header__subtitle {
    position: relative;
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
    line-height: normal;
}

.header__content-appointment-btn {
    position: relative;
    margin-top: 4rem;
    padding: 1.5rem 5rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 2px 4.7px rgba(0, 0, 0, 0.4);
    background: linear-gradient(90deg, rgb(255, 192, 95) 0%, rgb(244, 206, 148) 50%, rgb(255, 192, 95) 100%);
    cursor: pointer;
    transition: .3s;
    transition-property: box-shadow;
}

.header__content-appointment-btn:hover {
    box-shadow: 0px 6px 15.04px 0.96px rgba(0, 0, 0, 0.5);
}

.header__content-appointment-btn::after {
    content: '';
    position: absolute;
    bottom: -10rem;
    left: 50%;
    margin-left: -10rem;
    width: 20rem;
    height: 5rem;
    background-image: url('../img/text-separator.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



.header__second-title {
    margin-top: 15rem;
    font-size: 3rem;
    color: #f4ce94;
    font-weight: 700;
    text-align: center;
    margin-bottom: 3rem;
}

.header__second-title-discription {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
}

.header__second-title-discription p {
    position: relative;
    width: max-content;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

.header__second-title-discription p::before,
.header__second-title-discription p::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -0.35rem;
    width: 3rem;
    height: 0.7rem;
    background: url('../img/bullet.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.header__second-title-discription p::after {
    right: -5rem;
}

.header__second-title-discription p::before {
    left: -5rem;
    transform: rotate(180deg);
}


@media (max-width: 767px) {
    .header__second-title-discription p {
        position: relative;
        width: auto;
        margin-bottom: 1.5rem;
        font-size: 1.8rem;
        font-weight: 300;
        color: #fff;
        text-align: center;
    }

    .slider-img-container img {
        height: 100%;
        width: auto;
    }
}


/* ********************CERTIFICATE************************ */

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }

    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }

    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}


.certificate__container {
    position: relative;
    padding-top: 10rem;
    padding-bottom: 15rem;
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: -2px;
    z-index: -2;
    margin: auto;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, rgba(108, 22, 73, 1) 20%, rgba(65, 0, 84, 1) 80%);
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.bgBottom {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}


.certificate__title {
    position: relative;
    font-size: 3.6rem;
    font-weight: 700;
    color: #f4ce94;
    text-align: center;
}

.certificate__title::after {
    content: '';
    position: absolute;
    bottom: -3rem;
    left: 50%;
    margin-left: -10rem;
    width: 20rem;
    height: 1rem;
    background-image: url('../img/title-sep.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.certificate__subtitle {
    margin-top: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: normal;
    color: #fff;
    text-align: center;
}

.certificate__discription {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 650px;
    height: 330px;
    margin: auto;
    margin-top: 10rem;
}

.certificate__discription::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 400px;
    background-image: url('../img/content-border.png');
    background-size: cover;
    background-position: center;
}

.certificate__discription-par {
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 1.6rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
    line-height: normal;
}

.certificate__discription-par:first-child {
    margin-bottom: 2rem;
    font-weight: 700;
}

.certificate__button {
    margin-top: 4rem;
    padding: 1.5rem 3rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 2px 4.7px rgba(0, 0, 0, 0.4);
    background: linear-gradient(90deg, rgb(255, 192, 95) 0%, rgb(244, 206, 148) 50%, rgb(255, 192, 95) 100%);
    cursor: pointer;
    transition: .3s;
    transition-property: transform, box-shadow;
}

.certificate__button:hover {
    transform: scale(1.01);
    box-shadow: 0px 6px 15.04px 0.96px rgba(0, 0, 0, 0.5);
}

@media (max-width: 767px) {
    .certificate__discription {
        margin-top: 15rem;
    }

    .certificate__discription-par {
        font-size: 1.8rem;
    }


    .certificate__button {
        margin-top: 4rem;
        padding: 1.5rem 2.5rem;
        font-size: 1.6rem;
        font-weight: 700;
        color: #fff;
        text-shadow: 0px 2px 4.7px rgba(0, 0, 0, 0.4);
        background: linear-gradient(90deg, rgb(255, 192, 95) 0%, rgb(244, 206, 148) 50%, rgb(255, 192, 95) 100%);
        cursor: pointer;
        transition: .3s;
        transition-property: transform, box-shadow;
    }

    .wave {
        background-size: 50% 5rem;
    }
}



/* **************SERVICES*************** */

.services {
    position: relative;
    top: -2px;
    background-color: #fff;
}

.services__container {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.services__content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: auto;
    margin-top: 7rem;
}

.services__item:nth-child(1),
.services__item:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 200px;
    border: 1px solid #b8b8b8;
    box-sizing: border-box;
    transition: 0.3s;
    transition-property: border, color;
}

.services__item:nth-child(2),
.services__item:nth-child(4) {
    position: relative;
    width: 25%;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.services__item:nth-child(2) {
    background-image: url('../img/services11.jpg');
}

.services__item:nth-child(4) {
    background-image: url('../img/services22.jpg');
}

.services__item:nth-child(2)::after,
.services__item:nth-child(4)::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(65, 0, 84, 1) 35%, rgba(108, 22, 73, 1) 100%);
    opacity: 0.3;
}

.services__item-title {
    margin-top: 2rem;
    font-size: 2.6rem;
    color: #250030;
    transition: 0.3s;
    transition-property: color;
}

.services__item:nth-child(1):hover,
.services__item:nth-child(3):hover {
    border: 1px solid #f4ce94;

}

.services__item:nth-child(1):hover .services__item-title,
.services__item:nth-child(3):hover .services__item-title {
    color: #f4ce94;
}

.icon-container {
    width: 8rem;
    height: 8rem;
}

.services__icon {
    width: 8rem;
    height: 8rem;
    transition: 0.3s;
    transition-property: fill;
}

.services__item:nth-child(1):hover .services__icon,
.services__item:nth-child(3):hover .services__icon {
    fill: #f4ce94;
}


@media(max-width: 1023px) {
    .services__content {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .services__item {
        min-width: 50%;
    }

    .services__item:nth-child(1) {
        order: 0;
    }

    .services__item:nth-child(2) {
        order: 1;
    }

    .services__item:nth-child(3) {
        order: 3;
    }

    .services__item:nth-child(4) {
        order: 2;
    }

}

@media(max-width: 767px) {
    .services__content {
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }

    .services__item {
        min-width: 70%;
    }

    .services__item:nth-child(1) {
        order: 0;
    }

    .services__item:nth-child(2) {
        order: 1;
    }

    .services__item:nth-child(3) {
        order: 2;
    }

    .services__item:nth-child(4) {
        order: 3;
    }

}



/* **************STOCKS**************** */

.stocks {
    background: linear-gradient(45deg, rgba(65, 0, 84, 1) 35%, rgba(108, 22, 73, 1) 100%);
    ;
}

.stocks__container {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.stocks__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 8rem;
}

.stocks__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 500px;
    min-height: 350px;
    padding-top: 3rem;
    padding-left: 2rem;
    box-sizing: border-box;
    margin-bottom: 4rem;
    background-color: #fff;
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.stocks__item-title {
    font-size: 2rem;
}

.stocks__item:nth-child(1) {
    background-image: url('../img/stocks/1.jpg');
}

.stocks__item:nth-child(2) {
    background-image: url('../img/stocks/2.jpg');
}

.stocks__item:nth-child(3) {
    background-image: url('../img/stocks/3.jpg');
}

.stocks__item:nth-child(4) {
    background-image: url('../img/stocks/4.jpg');
}

.stocks__item:nth-child(5) {
    background-image: url('../img/stocks/5.jpg');
}

.stocks__item:nth-child(6) {
    background-image: url('../img/stocks/6.jpg');
}


.stocks__item-discription {
    width: 80%;
    margin-top: 3rem;
}

.stocks__item:nth-child(3) .stocks__item-discription {
    width: 70%;
}

.stocks__item-discription p {
    font-size: 1.4rem;
    line-height: normal;
    margin-bottom: 1rem;
}

.stocks__item-discription p:last-child {
    margin-bottom: 0;
}

.stocks__item-discription ul {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.stocks__item-discription ul li {
    position: relative;
    font-size: 1.4rem;
    line-height: normal;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.stocks__item-discription ul li:last-child {
    margin-bottom: 0;
}

.stocks__item-discription ul li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.35rem;
    width: 0.7rem;
    height: 0.7rem;
    margin-right: 1rem;
    border-radius: 50%;
    background-color: #f4ce94;
}

@media(max-width: 1023px) {
    .stocks__item {
        min-height: 250px;
    }
}

@media(max-width: 767px) {
    .stocks__item {
        width: 90%;
    }
}


/* **************REVIEWS************** */

.reviews__container {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.reviews__slider {
    max-width: 1170px;
    height: 450px;
    min-height: 400px;
    margin-top: 8rem;
}

/* .swiper-wrapper {
    width: 100%;
} */

.reviews__slider-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.reviews__review-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviews__review-item-text {
    position: relative;
    width: 60%;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: normal;
}

.reviews__review-item-text::before {
    content: '';
    position: absolute;
    top: -3rem;
    left: -7rem;
    width: 3rem;
    height: 3rem;
    background-image: url('../img/quote.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.reviews__review-item-text::after {
    content: '';
    position: absolute;
    bottom: -3rem;
    right: -7rem;
    width: 3rem;
    height: 3rem;
    background-image: url('../img/quote.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
}

.reviews__review-item-author {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: #f4ce94;
}

.revievs__tripadvisor::after {
    content: '';
    display: block;
    /* position: absolute;
    top: 50%;
    margin-top: -1rem;
    left: -11rem; */
    margin-top: 1rem;
    width: 8rem;
    height: 2rem;
    background-image: url('../img/Tripadvisor_logo.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.revievs__inst::after {
    content: '';
    display: block;
    /* position: absolute;
    top: 50%;
    margin-top: -1rem;
    left: -11rem; */
    margin-top: 1rem;
    width: 2rem;
    height: 2rem;
    background-image: url('../img/Instagram_logo.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.revievs__2gis::after {
    content: '';
    display: block;
    /* position: absolute;
    top: 50%;
    margin-top: -1rem;
    left: -11rem; */
    margin-top: 1rem;
    width: 6rem;
    height: 2rem;
    background-image: url('../img/2GIS_logo.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.swiper-button-next,
.swiper-button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #f4ce94;
    color: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 3rem;
}

.swiper-button-next::after {
    transform: translateX(0.2rem)
}

.swiper-button-prev::after {
    transform: translateX(-0.2rem)
}

.reviews__slider-pagination .swiper-pagination-bullet-active {
    background: #f4ce94;
}

.reviews__links {
    margin-top: 5rem;
    font-size: 1.4rem;
    line-height: normal;
    text-align: center;
}

.reviews__links a {
    position: relative;
    font-weight: 700;
    transition: .3s;
    transition-property: color;
}

.reviews__links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #000;
    transition: .3s;
    transition-property: background-color;
}

.reviews__links a:hover {
    color: #f4ce94;
}

.reviews__links a:hover::after {
    background-color: #f4ce94;
}

@media (max-width: 767px) {
    .reviews__slider {
        min-height: 650px;
    }

    .reviews__review-item-text::before {
        top: -4rem;
        left: 0;
    }

    .reviews__review-item-text::after {
        bottom: -4rem;
        right: 0;
    }
}



/* *************FOOTER*************** */

.footer__outer-container {
    background: url('../img/ornament.png') right 10rem/auto no-repeat, url('../img/ornament2.png') left top/auto no-repeat, linear-gradient(45deg, rgba(65, 0, 84, 1) 35%, rgba(108, 22, 73, 1) 100%);
}

.contacts {
    position: relative;
}

.contacts__container {
    display: flex;
    justify-content: space-between;
    height: 300px;
}

.contacts__map {
    height: 100%;
    width: 50%;
}

.contacts__map-frame {
    width: 100%;
    height: 100%;
}

.contacts__information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 25%;
    height: 100%;
    padding-left: 5rem;
    box-sizing: border-box;
}

.contacts__phone-and-appointment-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5rem;
    padding-left: 8rem;
}

.contacts__phone::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2.75rem;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    border: 1px solid #f4ce94;
    background: url('../img/incoming-call.png');
    background-position: center;
    background-repeat: no-repeat;
}

.contacts__location,
.contacts__phone {
    font-size: 1.8rem;
    font-weight: 300;
    color: #f4ce94;
    line-height: normal;
}

.contacts__location {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 8rem;
}

.contacts__location::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2.75rem;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    border: 1px solid #f4ce94;
    background: url('../img/pin.png');
    background-position: center;
    background-repeat: no-repeat;
}

.contacts__appointment-btn {
    position: relative;
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    background: linear-gradient(45deg, rgba(244, 206, 148, 1) 0%, rgba(252, 235, 209, 1) 50%, rgba(244, 206, 148, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f4ce94;
}

.contacts__appointment-btn::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(45deg, rgba(244, 206, 148, 1) 0%, rgba(252, 235, 209, 1) 50%, rgba(244, 206, 148, 1) 100%);

}

.contacts__form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
}

.contacts__form-title {
    font-size: 1.8rem;
    font-weight: 300;
    color: #f4ce94;
    text-align: center;
}

.contacts__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.contacts__form input {
    width: 16rem;
    padding: 0.5rem 2rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;

}

.contacts__form input:last-child {
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.contacts__form input[type='submit'] {
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 2px 4.7px rgba(0, 0, 0, 0.4);
    background: linear-gradient(90deg, rgb(255, 192, 95) 0%, rgb(244, 206, 148) 50%, rgb(255, 192, 95) 100%);
    cursor: pointer;
    transition: .3s;
    transition-property: transform, box-shadow;
}

.contacts__form input[type='submit']:hover {
    /* transform: scale(1.01); */
    box-shadow: 0px 6px 15.04px 0.96px rgba(0, 0, 0, 0.5);
}

.contacts__form-discription {
    width: 22rem;
    margin-top: 1rem;
    font-size: 1.4rem;
    color: #fff;
    font-weight: 300;
}

.contacts::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -5rem;
    width: 100vw;
    height: 1px;
    background: linear-gradient(90deg, rgba(244, 206, 148, 0) 0%, rgba(244, 206, 148, 1) 15%, rgba(244, 206, 148, 1) 50%, rgba(244, 206, 148, 1) 85%, rgba(244, 206, 148, 0) 100%);
}


@media(max-width:1100px) {
    .contacts__container {
        flex-wrap: wrap;
        height: 600px;
    }

    .contacts__information,
    .contacts__form-container {
        width: 50%;
        height: 50%;
    }

    .contacts__map {
        width: 100%;
        height: 50%;
    }
}

@media(max-width:767px) {
    .contacts__container {
        flex-wrap: wrap;
        height: 600px;
    }

    .contacts__information,
    .contacts__form-container {
        width: 100%;
        height: 200px;
    }

    .contacts__map {
        order: 2;
        width: 100%;
        height: 200px;
    }

    .contacts__form-container {
        order: 0;
    }

    .contacts__information {
        order: 1;
    }

    .contacts__form {
        width: 100%;
    }

    .contacts__form input {
        width: 80%;
        padding: 2rem 4rem;
        margin-bottom: 1rem;
        box-sizing: border-box;
        border: none;
        border-radius: 0.5rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;

    }

    .contacts__information {
        align-items: center;
        padding-left: 0;
    }

    .contacts__location::before,
    .contacts__phone::before {
        background-size: 2rem auto;
    }
}



.footer__logo-and-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
}

.footer__navigation {
    width: 60%;
}

.footer__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer__nav-list-item-link {
    position: relative;
    font-size: 1.4rem;
    color: #fff;
    transition: .3s;
    transition-property: color;
}


@media(max-width: 767px) {
    .footer__navigation {
        display: none;
    }

    .footer__logo-and-nav-container {
        justify-content: center;
        padding-top: 3rem;
    }

    .footer__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__disctiption p {
        font-size: 1.8rem;
        line-height: normal;
    }
}




.footer__nav-list-item-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: -10%;
    width: 120%;
    height: 1px;
    background: linear-gradient(45deg, rgba(244, 206, 148, 1) 0%, rgba(252, 235, 209, 1) 50%, rgba(244, 206, 148, 1) 100%);
    opacity: 0;
    transition: .5s;
    transition-property: opacity;
}

.footer__nav-list-item-link:hover:after {
    opacity: 1;
}

.footer__nav-list-item-link:hover {
    color: #f4ce94;
}

.footer__disctiption {
    position: relative;
    margin-top: 3rem;
    width: 70%;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
    font-size: 1.6rem;
    font-weight: 300;
    color: #fff;
}

.footer__disctiption p {
    margin-bottom: 1rem;
}

.footer__disctiption p:last-child {
    margin-bottom: 0;
}

.footer__disctiption a {
    position: relative;
    font-weight: 700;
    color: #fff;
}

.footer__disctiption a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background: #fff;
}


.footer__disctiption::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -5rem;
    width: 100vw;
    height: 1px;
    background: linear-gradient(90deg, rgba(244, 206, 148, 0) 0%, rgba(244, 206, 148, 1) 15%, rgba(244, 206, 148, 1) 50%, rgba(244, 206, 148, 1) 85%, rgba(244, 206, 148, 0) 100%);
}

.footer__socials-and-payments {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 5rem;
    background-color: #cccccc;
}

.footer__payments,
.footer__socials {
    display: flex;
    align-items: center;
}


.footer__payment-item img {
    height: 2rem;
    margin-right: 2rem;
}

.footer__payment-item:nth-child(2) img {
    height: 3rem;
}

.footer__socials {
    margin-top: 5rem;
}

.footer__social-item {
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    margin-right: 1rem;
    border-radius: 50%;
    border: 1px solid #f4ce94;
}

.footer__social-item img {
    height: 2rem;
    margin-right: 2rem;
}


.header__contacts_fixed {
    position: fixed;
    top: 0;
    z-index: 9998;
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
    background: linear-gradient(45deg, rgba(65, 0, 84, 1) 35%, rgba(108, 22, 73, 1) 100%);
    transform: translateY(-100%);
    transition: transform 0.5s;
}

.header__contacts_fixed_active {
    transform: translateY(0);
}

.header__contacts_fixed::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 1px;
    background: linear-gradient(90deg, rgba(244, 206, 148, 0) 0%, rgba(244, 206, 148, 1) 15%, rgba(244, 206, 148, 1) 50%, rgba(244, 206, 148, 1) 85%, rgba(244, 206, 148, 0) 100%);
}


.header__contacts_fixed .header__contacts-links {
    display: flex;
    align-items: center;
    height: 3rem;
}

.header__contacts_fixed .header__phone-and-appointment-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding-left: 4rem;
}

.header__contacts_fixed .header__phone::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid #f4ce94;
    background: url('../img/incoming-call.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1rem auto;
}

.header__contacts_fixed .header__location,
.header__contacts_fixed .header__phone {
    font-size: 1.4rem;
    font-weight: 300;
    color: #f4ce94;
    line-height: normal;
}

.header__contacts_fixed .header__location {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 4rem;
    margin-right: 10rem;
}

.header__contacts_fixed .header__location::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: 1px solid #f4ce94;
    background: url('../img/pin.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1rem auto;
}

.header__contacts_fixed .header__appointment-btn {
    position: relative;
    font-size: 1.2rem;
    font-weight: 700;
    background: linear-gradient(45deg, rgba(244, 206, 148, 1) 0%, rgba(252, 235, 209, 1) 50%, rgba(244, 206, 148, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #f4ce94;
}

.header__contacts_fixed .header__appointment-btn::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(45deg, rgba(244, 206, 148, 1) 0%, rgba(252, 235, 209, 1) 50%, rgba(244, 206, 148, 1) 100%);

}

@media (max-width: 767px) {
    .header__contacts_fixed .header__location {
        display: none;
    }

    .header__contacts_fixed .header__phone {
        display: none;
    }

    .header__contacts_fixed .header__appointment-btn {
        font-size: 1.8rem;
    }

    .header__contacts_fixed .header__logo img {
        width: 75px;
    }
}